/****** Helong Ma hxm151530,  Yupeng Gao yxg140730, Qingchuan Zhao qxz150730, Chaoshun Zuo cxz153430 ******/
USE [OTS]
GO
/****** Object:  Table [dbo].[address]    Script Date: 2015-11-29 12:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[address](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[city] [varchar](20) NOT NULL,
	[state] [varchar](10) NOT NULL,
	[zipcode] [varchar](10) NOT NULL,
	[client_id] [smallint] NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[client]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[client](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[cell_phone] [varchar](11) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[address_id] [smallint] NOT NULL,
	[status] [tinyint] NOT NULL CONSTRAINT [DF_client_status]  DEFAULT ((0)),
	[create_date] [varchar](19) NULL,
	[login_name] [varchar](64) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[trader_id] [smallint] NOT NULL,
	[client_level] [tinyint] NOT NULL CONSTRAINT [DF_client_level]  DEFAULT ((0)),
	[stock] [numeric](10, 2) NOT NULL CONSTRAINT [DF_client_stock]  DEFAULT ((0)),
 CONSTRAINT [PK_client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[client_role]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_role](
	[client_id] [smallint] NOT NULL,
	[role_id] [smallint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[oil_transaction]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[oil_transaction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [smallint] NOT NULL,
	[volume] [smallint] NOT NULL,
	[type] [tinyint] NOT NULL,
	[create_date] [varchar](19) NULL,
	[pay_method] [tinyint] NOT NULL,
	[commission] [numeric](10, 2) NOT NULL,
	[commission_oil] [numeric](10, 2) NOT NULL,
	[price] [numeric](10, 2) NOT NULL,
	[cause_upgrade] [tinyint] NOT NULL,
	[pay_date] [varchar](19) NULL,
	[cancel_date] [varchar](19) NULL,
	[status] [tinyint] NOT NULL,
 CONSTRAINT [PK_oil_transaction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_resource]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_resource](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[url] [varchar](100) NULL,
	[description] [varchar](255) NULL,
	[icon] [varchar](32) NULL,
	[pid] [smallint] NULL,
	[seq] [tinyint] NOT NULL CONSTRAINT [DF_sys_resource_seq]  DEFAULT ((0)),
	[state] [tinyint] NOT NULL CONSTRAINT [DF_sys_resource_state]  DEFAULT ((0)),
	[resourcetype] [tinyint] NOT NULL CONSTRAINT [DF_sys_resource_resourcetype]  DEFAULT ((0)),
	[createdatetime] [varchar](19) NULL,
 CONSTRAINT [PK_sys_resource] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_role]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_role](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[seq] [tinyint] NOT NULL CONSTRAINT [DF_sys_role_seq]  DEFAULT ((0)),
	[description] [varchar](255) NULL,
	[isdefault] [tinyint] NOT NULL CONSTRAINT [DF_sys_role_isdefault]  DEFAULT ((0)),
 CONSTRAINT [PK_sys_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_role_resource]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role_resource](
	[role_id] [smallint] NOT NULL,
	[resource_id] [smallint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user](
	[id] [smallint] IDENTITY(1,1) NOT NULL,
	[loginname] [varchar](64) NOT NULL,
	[name] [varchar](64) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[sex] [tinyint] NOT NULL CONSTRAINT [DF_sys_user_sex]  DEFAULT ((0)),
	[state] [tinyint] NOT NULL CONSTRAINT [DF_sys_user_state]  DEFAULT ((0)),
	[createdatetime] [varchar](19) NULL,
 CONSTRAINT [PK_sys_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sys_user_role]    Script Date: 2015-11-29 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user_role](
	[user_id] [smallint] NOT NULL,
	[role_id] [smallint] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [city], [state], [zipcode], [client_id]) VALUES (5, N'Dallas', N'TX', N'75080', 4)
SET IDENTITY_INSERT [dbo].[address] OFF
SET IDENTITY_INSERT [dbo].[client] ON 

INSERT [dbo].[client] ([id], [name], [phone], [cell_phone], [email], [address_id], [status], [create_date], [login_name], [password], [trader_id], [client_level], [stock]) VALUES (4, N'client1', N'9861452435', N'2458765543', N'test@hotmail.com', 5, 0, N'2015-11-29 00:58:39', N'client1', N'96e79218965eb72c92a549dd5a330112', 2, 0, CAST(0.00 AS Numeric(10, 2)))
SET IDENTITY_INSERT [dbo].[client] OFF
INSERT [dbo].[client_role] ([client_id], [role_id]) VALUES (4, 3)
SET IDENTITY_INSERT [dbo].[sys_resource] ON 

INSERT [dbo].[sys_resource] ([id], [name], [url], [description], [icon], [pid], [seq], [state], [resourcetype], [createdatetime]) VALUES (1, N'system manage', N'', N'system manage', N'icon_sys', NULL, 1, 0, 0, NULL)
INSERT [dbo].[sys_resource] ([id], [name], [url], [description], [icon], [pid], [seq], [state], [resourcetype], [createdatetime]) VALUES (2, N'resource manage', N'/resource/manager', N'resource manage', N'icon_resource', 1, 1, 0, 0, NULL)
INSERT [dbo].[sys_resource] ([id], [name], [url], [description], [icon], [pid], [seq], [state], [resourcetype], [createdatetime]) VALUES (3, N'resource list', N'/resource/treeGrid', N'resource list', N'icon_resource', 2, 0, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[sys_resource] OFF
SET IDENTITY_INSERT [dbo].[sys_role] ON 

INSERT [dbo].[sys_role] ([id], [name], [seq], [description], [isdefault]) VALUES (1, N'manager', 0, N'manager', 0)
INSERT [dbo].[sys_role] ([id], [name], [seq], [description], [isdefault]) VALUES (2, N'trader', 1, N'', 1)
INSERT [dbo].[sys_role] ([id], [name], [seq], [description], [isdefault]) VALUES (3, N'client', 2, N'', 1)
SET IDENTITY_INSERT [dbo].[sys_role] OFF
INSERT [dbo].[sys_role_resource] ([role_id], [resource_id]) VALUES (1, 15)
INSERT [dbo].[sys_role_resource] ([role_id], [resource_id]) VALUES (1, 25)
INSERT [dbo].[sys_role_resource] ([role_id], [resource_id]) VALUES (1, 32)
SET IDENTITY_INSERT [dbo].[sys_user] ON 

INSERT [dbo].[sys_user] ([id], [loginname], [name], [password], [sex], [state], [createdatetime]) VALUES (1, N'admin', N'admin', N'21232f297a57a5a743894a0e4a801fc3', 0, 0, N'2015-11-28 05:21:59')
INSERT [dbo].[sys_user] ([id], [loginname], [name], [password], [sex], [state], [createdatetime]) VALUES (2, N'trader1', N'trader1', N'96e79218965eb72c92a549dd5a330112', 0, 0, N'2015-11-28 05:21:59')
SET IDENTITY_INSERT [dbo].[sys_user] OFF
INSERT [dbo].[sys_user_role] ([user_id], [role_id]) VALUES (1, 1)
INSERT [dbo].[sys_user_role] ([user_id], [role_id]) VALUES (2, 2)
ALTER TABLE [dbo].[oil_transaction] ADD  CONSTRAINT [DF_transaction_commission]  DEFAULT ((0)) FOR [commission]
GO
ALTER TABLE [dbo].[oil_transaction] ADD  CONSTRAINT [DF_transaction_commission_oil]  DEFAULT ((0)) FOR [commission_oil]
GO
ALTER TABLE [dbo].[oil_transaction] ADD  CONSTRAINT [DF_transaction_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[oil_transaction] ADD  CONSTRAINT [DF_transaction_cause_upgrade]  DEFAULT ((0)) FOR [cause_upgrade]
GO
ALTER TABLE [dbo].[oil_transaction] ADD  CONSTRAINT [DF_transaction_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD  CONSTRAINT [FK_client_sys_user] FOREIGN KEY([trader_id])
REFERENCES [dbo].[sys_user] ([id])
GO
ALTER TABLE [dbo].[client] CHECK CONSTRAINT [FK_client_sys_user]
GO
ALTER TABLE [dbo].[oil_transaction]  WITH CHECK ADD  CONSTRAINT [FK_oil_transaction_client] FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[oil_transaction] CHECK CONSTRAINT [FK_oil_transaction_client]
GO
